.column{

}
.card{
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}
.remove{
  position: absolute;
  text-align: center;
  text-decoration: none;
  line-height: 15px;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: red;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    color: grey;
  }
}
.edit{
  position: absolute;
  text-align: center;
  text-decoration: none;
  line-height: 15px;
  top: 5px;
  right: 25px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: #28a4c9;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    color: grey;
  }
}