<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets  filter='cssrewrite'
        '@MeetingBundle/Resources/public/css/reset.css'
        '@MeetingBundle/Resources/public/css/bootstrap.min.css'
        '@MeetingBundle/Resources/public/css/bootstrap-theme.min.css'
        '@MeetingBundle/Resources/public/less/*'
        output='css/general.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header style="height: 50px">
    <div style="text-align: right; padding-right: 30px">
        <a href="{{ path('logout') }}">Logout</a>
    </div>
</header>
<div id="wrapper" class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {% javascripts
    '@MeetingBundle/Resources/public/scripts/jquery.min.js'
    '@MeetingBundle/Resources/public/scripts/bootstrap.min.js'
    '@MeetingBundle/Resources/public/scripts/ajax.form.js'
    '@MeetingBundle/Resources/public/scripts/app.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
