{% extends '::base.html.twig' %}
{% block sidebar %}{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="login-card">
        <h1>Log-in</h1><br>
        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            <button type="submit">login</button>
        </form>
        <div class="login-help">

            <a href="/registration"> Register</a> • <a href="#">Forgot Password</a>
        </div>
    </div>
{% endblock %}