{% extends  "::base.html.twig"%}
{% block sidebar %}{% endblock %}
{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}