{% extends "::base.html.twig" %}
{% block title %}Admin | DetailShow Meeting{% endblock %}
{% block body %}


   <div class="panel panel-info">
       <h2 class="bg-primary" align="right">{{meeting.title}}</h2>
       <img src="{{ meeting.pathFullImg }}" class="img-rounded" width="250px" height="250px" align="left">
       <h3 class="text-info" align="right"> Детальное описание встречи: {{meeting.Description}}</h3>
       <p class="text-info" align="right">Дата создания: {{meeting.created|date("d.m.Y H:i") }}</p>
       <p class="text-info" align="right">Дата проведения: {{meeting.meetingDate|date("d.m.Y H:i") }}</p>
       <p class="text-info" align="right">Место проведения встречи: {{meeting.venue}}</p>
       <p class="text-info" align="right">Количество участвующих:{{ meeting.members|length }} из {{meeting.quantity}}</p>
{% if subscribe %}
    Вы уже подписаны на эту встречу
{% else %}
    {% if app.user and meeting.members|length <= meeting.quantity %}
        <a class="btn btn-info"  href="{{ path('subscribe_meeting',{'id':meeting.id}) }}">Участвовать</a>
    {% else %}
        <a class="btn btn-info" href="{{ path('login') }}">Зарегистрироваться</a>
    {% endif %}
{% endif %}
     </div>
    <hr>

{% endblock %}