{% extends "::base.html.twig" %}
{% block title %}Admin|Meetings{% endblock %}
{% block body %}
<h2>Meetings</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td>Дата</td>
                <td>Место</td>
                <td>Количество</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for m in meetings %}
                <tr>
                    <td><a href="{{ path('admin_meeting_edit', {'id': m.id}) }}">{{ m.id }}</a></td>
                    <td>{{ m.title }}</td>
                    <td>{{ m.meetingDate|date("d.m.Y H:i") }}</td>
                    <td>{{ m.venue }}</td>
                    <td>{{ m.quantity }}</td>
                    <td>
                        <a href="{{ path('admin_meeting_edit', {'id': m.id}) }}">Edit</a> |
                        <a href="{{ path('admin_meeting_delete', {'id': m.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<a class="btn btn-info" href="{{ path("admin_meeting_new") }}">Создать встречу</a>
{% endblock %}