{% extends "::base.html.twig" %}
{% block title %}Admin |Member{% endblock %}
{% block body %}
    {% for member in meeting.members %}
        <p>{{meeting.members}}</p>
    {% endfor %}
{% endblock %}