{% extends "::base.html.twig" %}
{% block title %}Admin | New Meeting{% endblock %}
{% block body %}
    <a class="btn btn-info" href="{{ path("admin_meetings") }}">Back</a>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert-success alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h2>New Meeting</h2>
    {{ form_start(form) }}
    <div>
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <div>
        {{ form_label(form.venue) }}
        {{ form_errors(form.venue) }}
        {{ form_widget(form.venue) }}
    </div>
    <div>

        {{ form_label(form.previewFile) }}
        {{ form_errors(form.previewFile) }}
        <div>
            <img src="{{ meeting.pathPreviewImg }}">
        </div>
        {{ form_widget(form.previewFile) }}
    </div>

    <div>
        {{ form_label(form.fullFile) }}
        {{ form_errors(form.fullFile) }}
        <div>
            <img src="{{ meeting.pathFullImg }}">
        </div>
        {{ form_widget(form.fullFile) }}
    </div>

    <div>
        {{ form_label(form.meetingDate) }}
        {{ form_errors(form.meetingDate) }}
        {{ form_widget(form.meetingDate) }}
    </div>
    <div>
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div>
        {{ form_label(form.shortDescription) }}
        {{ form_errors(form.shortDescription) }}
        {{ form_widget(form.shortDescription) }}
    </div>
    <div>
        {{ form_label(form.quantity) }}
        {{ form_errors(form.quantity) }}
        {{ form_widget(form.quantity) }}
    </div>
    {{ form_end(form) }}
{% endblock %}