{% extends "::base.html.twig" %}
{% block title %}Admin | Show Meeting{% endblock %}
{% block body %}

{% for meeting in meetings %}
    <table class="table table-bordered">
   <div class="panel panel-info">
       <img src="{{ meeting.pathPreviewImg }}" width="150px" height="150px" align="left" class="img-circle">
       <h2 class="bg-primary">{{meeting.title}}</h2>
       <p class="text-info">Дата создания: {{meeting.created|date("d.m.Y H:i") }}<p>
       <p class ="text-danger">Дата проведения: {{meeting.meetingDate|date("d.m.Y H:i") }}</p>
       <p class="text-info">Краткое описание встречи: {{meeting.shortDescription}}</p>
       <a class="btn btn-info" href="{{ path('meeting_detail',{'id':meeting.id}) }}">Детальное описание встречи</a>
   </div>
    </table>
    {% endfor %}

   {% endblock %}